<div class="title__container">
    <div (click)="home()" class="title__text">
        Google Chrome / Firefox Network Har to CSV
    </div>

    <div class="about__container">
        <div>
            This tool parses the content of HAR file from Network tab of Google Chrome Browser to CSV so that
            the network protocol can be opened with Excel for enhancing searching and filtering
        </div>
        <div class="about__paragraph">
            In the network tab, just right click on any row and select Copy --> Copy all as HAR like following
            and paste the content into text area here
        </div>
        <div class="about__paragraph">
            <img class="about__paragraph__image" src="./assets/img/copyallashar.png">
        </div>
        <div class="about__paragraph">
            Or you can download the HAR file and then parse file directly
        </div>
        <div class="about__paragraph">
            <img class="about__paragraph__image" src="./assets/img/downloadhar.png">
        </div>
        <div class="about__paragraph">
            If you need any support for any bug fixing, just raise an issue
            <a target="_blank" href="https://github.com/hintdesk/networkhartocsv">here</a>
        </div>
    </div>
</div>